/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7edff;
}
.buttons{
    margin: 50px;
}
.buttons button{
    background: #333;
    color: #fff;
    border: 0;
 padding: 10px 30px;
    outline: 0;
    margin: 5px;
    cursor: pointer;

} */


#toastBox{
  position: absolute;

  bottom: 30px;
  right: 30px;  
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.toast{
    width: 400px;
    height: 80px;
    background-color: #f7edff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
display: flex;
align-items: center;
position: relative;
transform: translateX(100%);
animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
    100% 
    {transform: translateX(0);
    }
    
}
.toast i{
    margin: 0 20px;
    font-size: 23px;
    color: green;

}

.toast.error i{
    color: red;
} 
.toast.invalid i{
    color:orange;
}
.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 3s  linear forwards;
} 
@keyframes anim{
    100%{
        width: 0;
    }
}
.toast.error::after{
    background: red;
}
.toast.invalid::after{
    background: orange;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(255, 66, 4, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}